@import 'flexgrid';
*, *:before, *:after {box-sizing:  border-box !important;}

@font-face {
  font-family: Aften;
  src: url(Aften.ttf);
}

@font-face {
  font-family: Aften-Bold;
  src: url(Aften-Screen-Bold.ttf);
}

@font-face {
  font-family: Satyr;
  src: url(Satyr10.otf);
}

body {
  font-family: Aften;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #333;
}

.main {
  background-image: url('images/background.jpg');
  text-align: center;
}

p {
 margin:  1rem 0;
}


h4 {
  font-family: Aften-Bold;
  font-size: 22px;
}

a {
  text-decoration: none;

  &:visited {
    // color: inherit;
  }
}

.nav {
  background-color: #1370fb;
  color: #fff;
  padding: .5em;

  @media (max-width: 720px) {
    display: none;
  }

  p {
    display: inline-block;
    margin: 0;
  }

  &__shapes {
    display: inline-block;
    color: white;
    width: 280px;
    height: 20px;
  }

  &__links {
    text-align: right;
    
    a {
      padding: 0 1em;
      color: white;
      
      &:last-of-type{
        padding-right: 0;
      }
    }
  }

  &--footer {
    background-color: #333;
  }
}


.sidebar-nav {
  background-color: #fff;
  width: 100%;

  &__header {
    background-color: #1370fb;
    text-align: left;
    padding: 1.5em;
    color: #f5f5f5;
    
    @media (max-width: 720px) {
      padding: 0 1.5em;
      height: 50px;
    }

    p {
      margin: 0;
      font-size: 28px;
      font-family: Satyr;
    }
  }

  &__shapes {
    width: 100%;
    display: none;

    &--desktop {
      @media (min-width: 720px) {
        display: block;     
      }
    }

    &--mobile {
      @media (max-width: 720px) {
        display: inline;
        width: 50%;
        height: 100%;
      }
    }


  }

  &__links {
    padding: 1.5em;

    @media only screen and (max-width: 720px) {
      display: none;
      padding: 1.5em 1.5em 2em;
    }
  }

  &__link {
    display: block;
    padding: .5em .5em .5em 0;
    border-bottom: 1px solid #1370fb;
    color: #1370fb;
    margin-bottom: .25em;
  }

  &__arrows {
    width: 25px;
    float: right;
    display: inline;
    height: 100%;

    @media (min-width: 720px) {
      display: none;
    }

    &--hidden {
      display: none;
    }
  }

  &--mobile-only {
    display: none;

    @media (max-width: 720px) {
      display: inline;
    }

  }

  &--footer {
    .sidebar-nav__links {
      display: block;
    }
  }

  @media only screen and (min-width: 720px) {
    width: 20%;
    position: fixed;
    right: 0;
    height: 100%;
  }
}



.main {
  width: 100%;

  @media only screen and (min-width: 720px) {
    width: 80%;
    float: left;
  }
}

.portfolio {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;
  max-width: 90%;
  margin: auto;
  padding: 3.5em 0 5em;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;

  a {
    text-decoration: none;
    color: #333;
  }

  &__item {
    display: inline-block;
    margin:  1em 0em;
    padding: 0em 1em;
    max-width: 300px;
    min-width: 100%;
    background:  transparent;
    text-align: left;

    &:hover {
      filter: opacity(50%);
    }

    &--hidden {
      visibility: hidden;

      @media (max-width: 1060px) {
        display: none;
      }
    }

    &__image {
      max-width: 100%;
      width: 100%;
      height: auto;
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    &__description {
      color: #888;
    }

    &__content-container {
      background-color: #fff;
    }

    &__content {
      padding: 2.25em 1em;

      h4 {
        margin: 0;
      }

      p {
        margin-top: 12px;
      }

    }
  }

  @media only screen and (min-width: 720px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  @media only screen and (min-width: 1060px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.marquee {
  padding-top: 4.5em;

  img {
    max-width: 100%;
  }

  &__image {

    &--desktop {
      @media (max-width: 720px) {
        display: none;
      }
    }

    &--mobile {
      @media (min-width: 720px) {
        display: none;
      }
    }
  }
}

.project-info {
  padding: 1.5em 0.5em 0.5em;

  &__title {
    display: inline-block;
  }

  h3 {
    margin: 0;
    padding-right: 1em;
  }

  p {
    display: inline-block;
    margin: 0;
    color: #ababab;
    padding: 0 1em;

    @media (max-width: 720px) {
      display: none;
    }
  }

  &__actions {
    text-align: right;

    a {
      padding: 0 6px;
      
      &:last-of-type {
        padding-right: 0;
      }
    }

    img { 
      height: 22px;
      width: 22px;
    }

    &--wnw {
      img {
        width: 30px;
      }
    }
  }

  &__border {
    padding-bottom: .5em;
    border-bottom: 1px solid #eaeaea;
  }

}

.three-up {
  margin: 2em 0;

  &__header {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__content {
    text-align: left;

    @media only screen and (min-width: 48em) {
      padding: 0 1em;
    }
  }

  &__copy {
    color: #858585;
  }
}

.assets {
  background-color: #95a0af;
  padding: 4em 0;

  img {
    margin: 3em 0;
    box-shadow: 4px 7px 100px 40px rgba(51, 51, 51, 0.2);
    //fix the width so that its never greater than 900
    max-width: 100%;
  }

  &__thumbnail {
    &:hover {
      filter: brightness(50%);
    }
  }
}

.footer {
  padding: 2em 0;

  @media (max-width: 720px) {
    padding: 0 0.5em 2em;
  }

  a {
    padding: 0.6em 0;
    display: block;
    color: #333;
  }

  img {
    height: 12px;
  }
}

.resume {
  color: #858585;
  padding: 0 0.5em;

  p {
    margin: 0;
  }

  &__accolades {
    .resume__subtitle {
      font-style: normal;
    }
  }

  &__title {
    font-weight: bold;
    margin-bottom: .5em;
    color: #333;
    padding: 3px 0;

    &--light {
      color: #858585;
    }

    &--section {
      color: #1370fb;
    }
  }

  &__subtitle {
    padding: 3px 0;
    font-style: italic;
    font-weight: bold;
  }

  &__info {
    font-size: 14px;
    padding: 3px 0;
  }


  &__entry {
    padding: 12px 0;

    &:first-of-type {
      padding-top: 24px;
    }
  }

  &__education {
    padding-bottom: 100px;
  }

  @media only screen and (min-width: 48em) {
    .resume__work {
      .resume__entry:last-of-type {
        padding-bottom: 100px;
      }
    }
    
    .resume__education {
      padding-bottom: 0;
    }
  }



  &__list-item {
    padding: 6px 0;
  }
}

.contact {
  padding: 0 0.5em;
  color: #888;


  &__content {
    padding: 24px 0 100px;

    img {
      width: 100%;
      padding-bottom: 24px;
    }
  }

  &__title {
    color: #333;
    margin-bottom: -1rem;
  }
}

.musik {
  padding: 5em 0;

  audio {
    width: 150px;
  }

  &__cover {
    width: 100%;
    box-shadow: 4px 7px 100px 40px rgba(51, 51, 51, 0.05);
  }

  &__song-title {
    display: inline;
  }

  &__controls {
    text-align: center;

    &__icon {
      width: 25px;

      &--hidden {
        display: none;
      }
    }
  }

  &__info {
    color: #858585;
    a {
      color: #1370fb;
    }

    &__title {
      font-weight: bold;
      color: #333;  
    }
  }

  &__tracks__song {
    padding: 1em 0;
    
    &__title {
      display: inline-block;
      width: 100px;
      vertical-align: super;
    }

    audio {
      vertical-align: sub;
    }
  }
}

.staticrypt-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.staticrypt-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
    box-sizing: border-box;
}

.staticrypt-form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.staticrypt-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.staticrypt-form .staticrypt-decrypt-button {
    text-transform: uppercase;
    outline: 0;
    background: #1370fb;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
}

.staticrypt-form .staticrypt-decrypt-button:hover, .staticrypt-form .staticrypt-decrypt-button:active, .staticrypt-form .staticrypt-decrypt-button:focus {
    background: #1370fb;
}

.staticrypt-html {
    height: 100%;
}

.staticrypt-body {
    margin-bottom: 1em;
    background: #f2f2f2; /* fallback for old browsers */
    font-family: "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.staticrypt-instructions {
    margin-top: -1em;
    margin-bottom: 1em;
}

.staticrypt-title {
    font-size: 1.5em;
}

.staticrypt-footer {
    position: fixed;
    height: 20px;
    font-size: 16px;
    padding: 2px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.staticrypt-footer p {
    margin: 2px;
    text-align: center;
    float: right;
}

.staticrypt-footer a {
    text-decoration: none;
}