@import 'flexgrid';
*, *:before, *:after {box-sizing:  border-box !important;}

@font-face {
  font-family: Aften;
  src: url(Aften.ttf);
}

@font-face {
  font-family: Aften-Bold;
  src: url(Aften-Screen-Bold.ttf);
}

@font-face {
  font-family: Satyr;
  src: url(Satyr10.otf);
}

body {
  font-family: Aften;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: #333;
}

.main {
  background-image: url('images/background.jpg');
  text-align: center;
}

p {
 margin:  1rem 0;
}


h4 {
  font-family: Aften-Bold;
  font-size: 22px;
}

.nav {
  background-color: #1370fb;
  color: #fff;
  padding: .5em;

  p {
    display: inline-block;
    margin: 0;
  }

  &__shapes {
    display: inline-block;
    height: 20px;
  }

  &__links {
    text-align: right;
    
    a {
      padding: 0 1em;
      
      &:last-of-type{
        padding-right: 0;
      }
    }
  }
}


.sidebar-nav {
  background-color: #fff;
  width: 100%;

  .sidebar-nav__header {
    background-color: #1370fb;
    text-align: left;
    padding: 1.5em;
    color: #f5f5f5;

    p {
      margin: 0;
      font-size: 28px;
      font-family: Satyr;
    }
  }

  .sidebar-nav__shapes {
    width: 25%;
  }

  .sidebar-nav__links {
    padding: 1.5em;

    @media only screen and (max-width: 720px) {
      display: none;
    }
  }

  .sidebar-nav__link {
    display: block;
    padding: .5em .5em .5em 0;
    border-bottom: 1px solid #1370fb;
    color: #1370fb;
    margin-bottom: .25em;
  }

  @media only screen and (min-width: 720px) {
    width: 20%;
    position: fixed;
    right: 0;
    height: 100%;
  }
}



.main {
  width: 100%;

  @media only screen and (min-width: 720px) {
    width: 80%;
    float: left;
  }
}

.portfolio {
  -moz-column-width: 13em;
  -webkit-column-width: 13em;
  -moz-column-gap: .5em;
  -webkit-column-gap: .5em;
  max-width: 90%;
  margin: auto;
  padding-top: 3.5em;
  -moz-column-count: 1;
  -webkit-column-count: 1;
  column-count: 1;

  a {
    text-decoration: none;
    color: #000;
  }

  &__item {
    display: inline-block;
    margin:  1em 0em;
    padding: 0em 1em;
    max-width: 300px;
    min-width: 100%;
    background:  transparent;
    text-align: left;

    &__image {
      max-width: 100%;
      width: 100%;
      height: auto;
      position: relative;
      padding-bottom: 100%;
      overflow: hidden;

      img {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }

    &__content-container {
      background-color: #fff;
    }

    &__content {
      padding: 2.25em 1em;

      h4 {
        margin: 0;
      }

      p {
        margin-top: 12px;
      }

    }
  }

  @media only screen and (min-width: 720px) {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
  }

  @media only screen and (min-width: 1060px) {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3;
  }
}

.marquee {
  img {
    max-width: 100%;
  }
}

.project-info {
  padding: 1.5em 0 .5em;

  &__title {
    display: inline-block;
  }

  h3 {
    margin: 0;
    padding-right: 1em;
  }

  p {
    display: inline-block;
    margin: 0;
    color: #858585;
    padding: 0 1em;
  }

  &__arrows {
    text-align: right;

    img { 
      height: 22px;
      width: 22px;
    }
  }

  &__border {
    padding-bottom: .5em;
    border-bottom: 1px solid #eaeaea;
  }

}

.three-up {
  margin: 2em;

  &__header {
    font-size: 16px;
    margin-bottom: 15px;
  }

  &__content {
    text-align: left;

    @media only screen and (min-width: 48em) {
      padding: 0 1em;
    }
  }

  &__copy {
    color: #858585;
  }
}

.assets {
  background-color: #95a0af;
  padding: 4em 0;

  img {
    margin: 3em 0;
    box-shadow: 4px 7px 100px 40px rgba(51, 51, 51, 0.2);
    //fix the width so that its never greater than 900
    max-width: 100%;
  }
}

.footer {
  padding: 1em 0 2em;
  a {
    display: block;
  }
}
